/* CSS Code for Side bar on YouTube Page */

/* Side Bar Menu CSS Code */
.side-bar-menu {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    width: 72px;
    background-color: white;
    z-index: 2;
    padding-top: 10px;
}

.side-bar-menu img {
    width: 24px;
    display: flex;
    margin-bottom: 4px;
}

.side-bar-menu div {
    font-size: 10px;
    font-family: Robot, Arial;
    display: flex;

}

.side-bar {
    height: 74px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.side-bar:hover {
    background-color: rgb(240, 240, 240);
}

/* Main Body CSS Code */
body {
    margin: 0;
    background-color: rgb(245, 245, 245);
}
