/* CSS Code for Main Contect of College Admission Page */

/* Admission Form CSS Code */
.admission-form {
    margin-top: 140px;
    display: grid;
    height: 700px;
    grid-gap: 20px;
    padding: 50px;
    border-radius: 30px;
    border: none;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.40);
    align-self: left;
    width: 350px;
    margin-left: auto;
    margin-right: 50px;
    background-color: rgba(255, 255, 255, 0.90);
}

.admission-form input,
.admission-form select {
    border: none;
    border-radius: 20px;
    background-color: rgb(231, 231, 231);
    text-indent: 15px;
}

.admission-form select {
    text-indent: 6px;
}

/* Form Title CSS Code */
.form-title {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

/* Submit Button CSS Code */
.submit-button {
    border: none;
    border-radius: 20px;
    background-color: rgb(53, 161, 250);
    color: white;
    font-family: Roboto;
    font-weight: bold;
    transition: 0.15s;
}

.submit-button:hover {
    background-color: rgb(224, 241, 255);
    color: rgb(53, 161, 250);
}