/* CSS Code for Drop DOwn menu of College Admission Page */

/* Dropdown Button CSS Code */
.dropbtn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-family: Roboto;
}

/* Dropdown conteent position CSS Code */
.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown content CSS Code */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Text inside dropdown menu CSS Code */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.name {
    font-family: Roboto;
}